/dist
/build
/public
.umi

package.json
docker
Dockerfile*
LICENSE
yarn*

.umi-production
.dockerignore
.DS_Store
.eslintignore
.eslintcache
.editorconfig
.gitignore
.prettierignore
.history

*.svg
*.png
*.jpeg
*.jpg
*.gif
*.toml
*.lock
*lock.json
